:root {
  --primary-color: hsl(226, 97%, 23%);
  --primary-colorTwo: hsl(229, 100%, 12%);
  --text-color: rgb(211, 211, 211);
  --bg-color: rgb(240, 240, 240);
  --secundary-color: hsl(0, 0%, 39%);
  --active-color: hsl(0, 0%, 51%);
  --border-color: hsl(0, 0%, 20%);
  --border-radius: 0.6em;
}

* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.rootContainer {
  background-color: var(--bg-color);
}
